@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: linear-gradient(to bottom, #fae1dd, #f6e3da, #f6e3da, #f6e3da, #f0e6d9, #eae8db, #e5e9df, #e5e9df, #e5e9df, #e5e9df, #f0e6d9, #f6e3da, #f6e3da, #f6e3da, #fae1dd);}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
  
  .cabecalho-menu {
    display: flex;
    gap: 32px;
  }
  
  .cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 18px
}

.conteudo {
    margin-bottom: 0px;
    border-top: 0.4px transparent #000;
  }
  
  .conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
  }
  
  .conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #000;
  }
  
  .conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000;
  }

  .conteudo-principal-imagem {
    height: 430px;
  }

  .conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-top: 48px;
    padding-top: 100px;
  }
  
  .conteudo-secundario-titulo {
    border-top: 0.4px solid #000;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 50px;
    color: #000;
    margin-bottom: 16px;
    border-top: 0px transparent;
  }
  
  
/* Este é o inicio dos cards. */
.Container{
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.Caixa{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.Card{
    background: #F3D6D1;
    height: 250px;
    width: 335px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align:  center;  
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.Card i{
  font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #000;
}

h5{
   font-family: 'Righteous', cursive;
    font-weight: 400;
    color: #000;
    font-size: 30px;
    margin-bottom: 15px;
}



.button{
  background-color: #ffa5ab;
  color: #000;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .5s;    
}

.button:hover{
  transform: scale(1.2);
}

.Paragrafo-button{
margin-bottom: 25px;
font-family: 'Sarala';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 39px;
text-align: center;
color: #000000;
}

.Paragrafo-button button{
    margin-top: 25px;
}

/*agradecimento */
.conteudo-final {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .conteudo-final-escrito {
    display: flex;
    justify-content: space-around;
    gap: 350px;
  }
  
  .conteudo-final-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #000;
    margin-left: 200px;
  }

.conteudo-final-imagem{
    height: 430px;
    margin-top: 150px;
    margin-bottom: 0px;
    margin-left: 460px;
}

/* inicio do footer   */

.rodape {
padding: 24px;
border-top: 0.4px solid #000;
font-family: 'Righteous';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #000000;
}